/*************************************************************************************************************************************************
Generelt
**************************************************************************************************************************************************/
body {
    padding: 0;
    margin: 0;
    background-color: black;

}

img {
    width: 100%;
}

.logo {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 25px;
    transform: translate(-50%, -50%);
}

p {
    color: white;
    padding: 15px;
}

h1 {
    color: white;
    padding: 15px;
}

header {
    height: 8vh;
    width: 100%;
}

section {
    padding: 2vh;
    max-width: 1400px;

    margin: 0 auto;


}

/*************************************************************************************************************************************************
Billeder på landing page
**************************************************************************************************************************************************/
#video {
    display: none;
}

.img_wrapper {
    display: flex;

}

.splashwrapper {
    display: flex;
    flex-direction: column;
}

.left {
    width: 50vw;
    height: 100vh;
    background-image: url(billeder/left.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;


}

.right {
    width: 50vw;
    height: 100vh;
    background-image: url(billeder/right%20copy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}


/*************************************************************************************************************************************************
Knapper på landing page
**************************************************************************************************************************************************/
.btn1 {
    position: absolute;
    border: 2px solid black;
    height: 8vh;
    width: 25vw;
    left: 12vw;
    bottom: 25vh;
    cursor: pointer;

}


.btn2 {
    position: absolute;
    border: 2px solid black;
    height: 8vh;
    width: 25vw;
    right: 12vw;
    bottom: 25vh;
    cursor: pointer;
}

/*************************************************************************************************************************************************
Billedserie
**************************************************************************************************************************************************/
#hero {}

.imgwrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10vh;

}

.image {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;



}

#hero_img1,
#hero_img2,
#hero_img3,
#hero_img4,
#hero_img5,
#hero_img6,
#hero_img7 {
    flex-grow: 1;
    flex-basis: 200px;
}

#hero_img6,
#hero_img7 {
    display: none;
}

#hero_img1 {
    margin: 40px 4px 4px 0px;
}

#hero_img2 {
    margin: 20px 4px 4px 4px;
}

#hero_img3 {
    margin: 4px;
}

#hero_img4 {
    margin: 20px 4px 20px 4px;
}

#hero_img5 {
    margin: 40px 0px 5px 4px;
}

#hero_img6 {
    margin: 4px;
}

#hero_img7 {
    margin: 4px;
}


/* Gray Scale */
.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*************************************************************************************************************************************************
Mediaqueries ipad
**************************************************************************************************************************************************/

@media only screen and (min-width: 768px) {
    section {}

    .left,
    .right {
        display: none;
    }

    #video {
        display: block;
        height: 100vh;
        width: 100vw;
    }

    .btn1,
    .btn2 {
        width: 10vw;
    }



    #hero_img1 {
        margin: 40px 4px 4px 4px;
    }

    #hero_img2 {
        margin: 20px 4px 4px 4px;
    }

    #hero_img3 {
        margin: 4px;
    }

    #hero_img4 {
        margin: 20px 4px 20px 4px;
    }

    #hero_img5 {
        margin: 40px 4px 4px 4px;
    }

    #hero_img6 {
        display: block;
        margin: 20px 4px 20px 4px;
    }

    #hero_img7 {
        display: block;
        margin: 4px;
    }


}

/*************************************************************************************************************************************************
Mediaqueries laptop
**************************************************************************************************************************************************/
@media only screen and (min-width: 1024px) {}









/*************************************************************************************************************************************************
Mediaqueries desktop
**************************************************************************************************************************************************/
@media only screen and (min-width: 1400px) {}

/*************************************************************************************************************************************************
Mediaqueries desktop store skærme
**************************************************************************************************************************************************/
@media only screen and (min-width: 1500px) {}
