/*************************************************************************************************************************************************
Generelt
**************************************************************************************************************************************************/
body {
    padding: 0;
    margin: 0;
    background-color: black;

}

img {
    width: 100%;
}

.logo {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 25px;
    transform: translate(-50%, -50%);
}

p {
    color: white;
    padding: 15px;
}

h1 {
    color: white;
    padding: 15px;
}

header {
    height: 8vh;
    width: 100%;
}

section {
    padding: 2vh;


}

/*************************************************************************************************************************************************
Billeder på landing page
**************************************************************************************************************************************************/
#video {
    display: none;
}

.img_wrapper {
    display: flex;

}

.splashwrapper {
    display: flex;
    flex-direction: column;
}

.left {
    width: 50vw;
    height: 100vh;
    background-image: url(billeder/left.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;


}

.right {
    width: 50vw;
    height: 100vh;
    background-image: url(billeder/right%20copy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}


/*************************************************************************************************************************************************
Knapper på landing page
**************************************************************************************************************************************************/
.btn1 {
    position: absolute;
    border: 2px solid black;
    height: 8vh;
    width: 25vw;
    left: 12vw;
    bottom: 25vh;
    cursor: pointer;

}


.btn2 {
    position: absolute;
    border: 2px solid black;
    height: 8vh;
    width: 25vw;
    right: 12vw;
    bottom: 25vh;
    cursor: pointer;
}

/*************************************************************************************************************************************************
Billedserie
**************************************************************************************************************************************************/

.section_grid {
    max-width: 100%;
    display: grid;
    grid-gap: 10px;
    overflow: hidden;
    grid-template-areas:
        "img1 img2 img3 img4 img5"
        "content content content content content"
        "footer footer footer footer footer";

}

#hero_img1,
#hero_img2,
#hero_img3,
#hero_img4,
#hero_img5,
#hero_img6,
#hero_img7 {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.5px solid white;
    width: 21vw;
}


#hero_img1 {
    position: absolute;
    top: 25vh;
    left: -5vw;
    grid-area: img1;
}

#hero_img2 {
    position: absolute;
    top: 22vh;
    left: 18vw;
    grid-area: img2;
}

#hero_img3 {
    position: absolute;
    top: 20vh;
    left: 41vw;
    grid-area: img3;
}

#hero_img4 {
    position: absolute;
    top: 22vh;
    left: 64vw;
    grid-area: img4;
}

#hero_img5 {
    position: absolute;
    top: 25vh;
    left: 87vw;
    grid-area: img5;
    max-width: 13vw
}

#hero_img6 {
    position: absolute;
    top: 20vh;
    left: -5vw;

    display: none;
    grid-area: img6;
}

#hero_img7 {
    position: absolute;
    top: 20vh;
    left: -5vw;

    display: none;
    grid-area: img7;
}


#hero {
    height: 60vh;

}




/* Gray Scale */
.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*************************************************************************************************************************************************
Mediaqueries ipad
**************************************************************************************************************************************************/

@media only screen and (min-width: 768px) {
    section {
        max-width: 1600px;

        margin: 0 auto;
    }

    .left,
    .right {
        display: none;
    }

    #video {
        display: block;
        height: 100vh;
        width: 100vw;
    }

    .btn1,
    .btn2 {
        width: 10vw;
    }

    .section_grid {
        grid-template-areas:
            "img1 img2 img3 img4 img5 img6 img7"
            "content content content content content content content"
            "footer footer footer footer footer footer footer";

    }

    #hero_img1,
    #hero_img2,
    #hero_img3,
    #hero_img4,
    #hero_img5,
    #hero_img6,
    #hero_img7 {
        width: 12vw;
    }

    #hero_img1 {

        top: 25vh;
        left: 5vw;

    }

    #hero_img2 {

        top: 22vh;
        left: 18vw;

    }

    #hero_img3 {

        top: 20vh;
        left: 31vw;

    }

    #hero_img4 {

        top: 18vh;
        left: 44vw;

    }

    #hero_img5 {

        top: 20vh;
        left: 57vw;


    }

    #hero_img6 {

        top: 22vh;
        left: 70vw;

        display: block;

    }

    #hero_img7 {

        top: 25vh;
        left: 83.2vw;
        display: block;


    }



}

/*************************************************************************************************************************************************
Mediaqueries laptop
**************************************************************************************************************************************************/
@media only screen and (min-width: 1024px) {

    #hero_img1,
    #hero_img2,
    #hero_img3,
    #hero_img4,
    #hero_img5,
    #hero_img6,
    #hero_img7 {
        Height: 65vh;
        width: 12vw;
    }

    #hero_img1 {

        top: 25vh;



    }

    #hero_img2 {

        top: 22vh;


    }

    #hero_img3 {

        top: 20vh;


    }

    #hero_img4 {

        top: 18vh;


    }

    #hero_img5 {

        top: 20vh;



    }

    #hero_img6 {

        top: 22vh;


    }

    #hero_img7 {

        top: 25vh;




    }
}

/*************************************************************************************************************************************************
Mediaqueries desktop
**************************************************************************************************************************************************/
@media only screen and (min-width: 1400px) {

    #hero_img1,
    #hero_img2,
    #hero_img3,
    #hero_img4,
    #hero_img5,
    #hero_img6,
    #hero_img7 {
        Height: 65vh;
        max-width: 12vw;

    }

    #hero_img1 {
        position: relative;
        top: 25vh;
        left: 1vw;



    }

    #hero_img2 {
        position: relative;
        top: 22vh;
        left: 1.24vw;


    }

    #hero_img3 {
        position: relative;
        top: 20vh;
        left: 0.7vw;


    }

    #hero_img4 {
        position: relative;
        top: 18vh;
        left: 0;


    }

    #hero_img5 {
        position: relative;
        top: 20vh;
        left: -0.7vw;



    }

    #hero_img6 {
        position: relative;
        top: 22vh;
        left: -1.5vw;


    }

    #hero_img7 {
        position: relative;
        top: 25vh;
        left: -2.3vw;




    }
}

/*************************************************************************************************************************************************
Mediaqueries desktop store skærme
**************************************************************************************************************************************************/
@media only screen and (min-width: 1500px) {}
