[data-scroll] {
    transition: all 2s;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0px);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-70px);
}

/*************************************************************************************************************************************************
Kunstneren
**************************************************************************************************************************************************/


#kunstner .sectionwrapper {
    background-color: #f4f4f4;
    margin: 0 auto;
    max-width: 1400px;

}



/*************************************************************************************************************************************************
Kontakt
**************************************************************************************************************************************************/
#kontakt {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

/*#kontakt p {
    margin: 15px;
    padding: 15px;
    text-align: left;
}*/

.contact_container {
    width: 100%;
}

.navn_wrap {
    display: flex;

    width: 100%;

}

.navn_wrap input {
    width: 100%;
    padding: 15px;
    margin: 15px;
}

.resten_wrap {
    display: flex;
    flex-direction: column;
}

.resten_wrap input {
    padding: 15px;
    margin: 15px;
}

.resten_wrap textarea {
    padding: 15px;
    margin: 15px;
}

input,
textarea {
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
    border: none;
    color: black;
    padding: 15px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    outline-color: #FEEF3D;
}


#submit {
    border: 2px solid black;
    width: 35vw;
    align-self: flex-end;
    background-color: black;
}

#submit {
    color: white;
    padding: 15px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

#submit:hover {
    background-color: white;
    color: black;

}

/**Animation**/
.fadein {
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadein {
    0% {
        transform: translateY(-100%);
    }


    100% {
        transform: translateY(0%);
    }
}


.fadeout {

    animation-name: fadeout;
    animation-duration: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

}

@keyframes fadeout {
    0% {
        opacity: 1;
    }


    100% {
        opacity: 0;
    }
}

/*************************************************************************************************************************************************
Mediaqueries ipad
**************************************************************************************************************************************************/

@media only screen and (min-width: 768px) {

    /*Projekter*/


    #kontakt {
        flex-direction: row;
    }
}

/*************************************************************************************************************************************************
Mediaqueries laptop
**************************************************************************************************************************************************/
@media only screen and (min-width: 1024px) {}

/*************************************************************************************************************************************************
Mediaqueries desktop
**************************************************************************************************************************************************/
@media only screen and (min-width: 1250px) {

    .childwrapper {
        left: 30%;
    }
}

/*************************************************************************************************************************************************
Mediaqueries desktop store skærme
**************************************************************************************************************************************************/
@media only screen and (min-width: 1500px) {}
