.galleri .header {
    margin-bottom: 15vh;
}

/******************************
GALLERI
******************************/

#cloner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 25px;
    background-color: black;
    padding: 60px 0 80px;
    max-width: 1000px;
    margin: 0 15px;
}

#cloner img {
    max-width: 100%;
}

#cloner img:hover {
    filter: grayscale(1);
}


.high {
    grid-row: span 2;
}


.wide {
    grid-column: span 2;
}


#gallery_intro {
    max-width: 43ch;
    margin: 0 auto 0;
}

#gallery_intro h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}


#gallery_intro p:nth-child(3) {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0;
    margin-bottom: 0;
}


#gallery_intro p {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 15px;

}


.fa-quote-right {
    float: right;
}


.gallery {
    max-width: 1200px;
    margin: 0 auto;
}


.gallery img {

    min-height: 200px;
    max-height: 700px;
    width: 100%;
}

.galleri .footer {
    margin-top: 5vh;
}


.top_bg {

    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 30px solid #f4f4f4;

}

.bottom_bg {

    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 38px solid black;
}


.sectionwrapper {
    max-width: none;
    margin: 0 auto;
    background-color: black;
}


header {
    margin-bottom: 20vh;
}

/*************************************************************************************************************************************************
Navigation
**************************************************************************************************************************************************/

.nav_wrapper {
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    background-color: #F4F4F4;
    z-index: 1000;



}

.logo {
    position: relative;
    height: 50px;
    width: 50px;
    left: 25px;
    top: 25px;
    transform: translate(-50%, -50%);
}

.c_baskin {
    position: relative;
    height: 30px;
    width: 25px;
    left: 83%;
    top: -14px;
    transform: translate(-50%, -50%);
}

/*************************************************************************************************************************************************
Burger menu
**************************************************************************************************************************************************/
.burger_menu {
    position: relative;
    height: 30px;
    width: 30px;
    left: 93%;
    top: -44px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.mylinks {
    margin-top: -10vh;
    display: none;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 6vh;
    /*
    position: relative;
    top: 25px;
    right: -10px;
*/



}

.mylinks a {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 15px;
    text-align: left;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 50px;

}

.mylinks .active {
    color: #EDBB00;
}


.menu_wrapper {}





.mylinks a:hover {
    color: #EDBB00;
}

/*************************************************************************************************************************************************
Banananabar
**************************************************************************************************************************************************/
.bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 98%;
    left: 0.5vw;
    background-color: rgba(28, 16, 16, 0);

}

.progress-container {
    position: relative;
    top: 70px;
    width: 94%;
    height: 0.6vh;
    left: 50.6%;
    transform: translate(-50%);
    background: #fff;
}


.progress-bar {
    position: relative;
    height: 0.6vh;
    background: #EAC802;
    width: 100%;
    text-align: right;


}

.progress-bar::after {
    content: " ";
    background-image: url(billeder/bananana.svg);
    width: 30px;
    height: 25px;
    position: absolute;
    right: -18px;
    top: -11px;
    transform: rotate(19deg);
    background-repeat: no-repeat;
}

#progress {
    margin-bottom: 2vh;
}


@media only screen and (min-width: 768px) {

    .nav_wrapper {
        height: 70px;
    }

    .progress-container {
        top: 107px;
    }


    .logo {
        height: 70px;
        width: 70px;
        top: 40px;
        left: 40px;
    }


    .c_baskin {
        left: 89%;
        height: 40px;
        width: 30px;
        top: -10px;
    }


    .burger_menu {
        height: 40px;
        width: 30px;
        top: -48px;
        left: 95%;
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 3rem;
    }

    .footer_items {
        justify-content: center;

    }

    .footer_items a {
        font-size: 15px;
    }


    .mylinks a {
        text-align: left;
        justify-content: flex-end;
        font-size: 3rem;

    }

    .mylinks {

        margin-top: 0;

    }

    .top_bg {

        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 175px solid #f4f4f4;


    }

    .bottom_bg {

        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 175px solid black;

    }

    #gallery_intro {
        margin: 180px auto 0;
        max-width: 63ch;
    }


    #gallery_intro p {
        margin-top: 30px;
    }

    #gallery_intro p:nth-child(3) {
        font-size: 1.3rem;
        margin-top: 0;
    }


    .galleri .top_bg {
        border-top: 50px solid #f4f4f4;
    }

    .galleri .bottom_bg {
        border-top: 100px solid;
    }
}


@media only screen and (min-width: 1024px) {


    /********************************
    NAVIGATION / MENU
    ********************************/

    .logo {
        height: 100px;
        width: 80px;
        top: 60px;
        left: 60px;
    }

    .c_baskin {
        height: 40px;
        width: 40px;
        top: -20px;
        left: 85%;
    }

    .burger_menu {
        height: 40px;
        width: 40px;
        top: -55px;
    }

    .mylinks {
        margin-top: -6vh;
        overflow: hidden;
    }


    /**********************
    GALLERI
    **********************/

    #cloner {
        margin: 0 auto;
    }

    #gallery_intro {
        margin: 180px auto 0;
        max-width: 85ch;
    }

    #gallery_intro h1 {
        font-size: 5rem;
    }

    #gallery_intro p:nth-child(3) {
        font-size: 1.8rem;

    }

    #gallery_intro p {
        font-size: 1.2rem;
    }
}
