/**************************
GENERELT
***************************/

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #F4F4F4;
}


header {
    padding-bottom: 100px;
}


img {
    width: 100%;
    object-fit: cover;
}


p {
    color: black;
    padding: 15px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    max-width: 70ch;
    margin: 10px auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 15px;
    text-align: center;
    margin: 0;
}


h1 {
    font-size: 3rem;
}


h2 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

/*************************
MENU
*************************/

.nav_wrapper {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #F4F4F4;
    z-index: 1000;
}

.logo {
    position: relative;
    height: 50px;
    width: 50px;
    left: 27px;
    top: 30px;
    transform: translate(-50%, -50%);
}

.c_baskin {
    position: absolute;
    width: 29px;
    right: 75px;
    top: 25px;
}

.burger_menu {
    position: absolute;
    width: 35px;
    top: 25px;
    right: 20px;
    cursor: pointer;
    z-index: 10000;
}


.mylinks {
    display: none;
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
}

.mylinks a {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: left;
    font-size: 2rem;
    text-decoration: none;
    margin: 5px 20px;
    font-size: 3.8rem;
}


.mylinks .active,
.mylinks a:hover {
    color: #EDBB00;
    background-color: transparent;
}


/*************************
BANAN SCROLL-BAR
*************************/

.bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 98%;
    left: 0.5vw;
    background-color: rgba(28, 16, 16, 0);
}

.progress-container {
    position: relative;
    top: 70px;
    width: 94%;
    height: 5px;
    left: 50.6%;
    transform: translate(-50%);
    background: #fff;
}

.progress-bar {
    position: relative;
    height: 5px;
    background: #EAC802;
    width: 0%;
    text-align: right;
}

.progress-bar::after {
    content: " ";
    background-image: url(billeder/bananana.svg);
    width: 30px;
    height: 25px;
    position: absolute;
    right: -18px;
    top: -11px;
    transform: rotate(19deg);
    background-repeat: no-repeat;
}

#progress {
    margin-bottom: 2vh;
}

/************************
BRØDKRUMMESTI
************************/

#thanks {
    padding-top: 20vh;
    margin: 0 auto;
    max-width: 1400px;
}

ul.breadcrumb {
    padding: 0 15px 30px;
    margin: 0;
    margin-top: -10px;
    list-style: none;
    font-family: source-sans-pro, sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
    max-width: 70ch;

}

ul.breadcrumb li {
    display: inline;
    font-size: 0.8rem;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: grey;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: grey;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #EDBB00;
    text-decoration: none;
}


/************************
FORSIDE
************************/

#intro {
    padding-bottom: 65px;
}

.black_bg p,
.black_bg h2 {
    color: white;
}

.black_bg h2 {
    padding: 40px 0 20px;
}

.black_bg img {
    height: 250px;
}

#tuesabe {
    background-color: black;
    padding-bottom: 100px;
}

#tuesabe .sectionwrapper {
    max-width: 1400px;
    margin: 0 auto;

}

#intro h1 {
    margin: 0;
    padding: 10px 0 0;
}

/*************************
BILLEDESERIE PÅ FORSIDE
*************************/

.imgwrapper {
    display: flex;
    justify-content: center;
}


.image {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.img_frame {
    flex-grow: 1;
    flex-basis: 200px;
    /*    overflow: hidden;*/
}

.img_frame:nth-child(6) {
    display: none;
}

.img_frame:nth-child(7) {
    display: none;
}

#hero_img1,
#hero_img2,
#hero_img3,
#hero_img4,
#hero_img5,
#hero_img6,
#hero_img7 {
    flex-grow: 1;
    flex-basis: 200px;
    /*    background-attachment: fixed;*/
}


#hero_img6,
#hero_img7 {
    display: none;
}


#hero_img1 {
    margin: 40px 40px 4px 0px;
    background-position: 42% 90%;
    background-image: url(billeder/forside_1.jpg);
}


#hero_img2 {
    margin: 20px 20px 4px -25px;
    background-position: 50% 90%;
    background-image: url(billeder/forside_2.jpg);
}


#hero_img3 {
    margin: 10px -5px 4px -5px;
    background-position: 70% 90%;
    background-image: url(billeder/forside_3.jpg);
}


#hero_img4 {
    margin: 20px -25px 20px 20px;
    background-position: 80% 90%;
    background-image: url(billeder/forside_4.jpg);
}


#hero_img5 {
    margin: 40px 0px 5px 40px;
    background-position: 41% 90%;
    background-image: url(billeder/forside_5.jpg);
}


#hero_img6 {
    margin: 4px;
}


#hero_img7 {
    margin: 4px;
}


/************************
FORSIDE KNAPPER
************************/

.intro_cta {
    position: absolute;
    left: 50%;
    top: 720px;
    z-index: 400;
    height: 40px;
    width: 250px;
    background-color: black;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    margin-bottom: 10vh;
}


.intro_cta a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.intro_cta2 {
    position: relative;
    left: 50%;
    top: 30px;
    height: 40px;
    width: 250px;
    background-color: white;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}

.intro_cta2 a {
    text-decoration: none;
    color: black;
    padding: 15px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}



.intro_cta:hover {
    background-color: #F4F4F4;
}

.intro_cta:hover a {
    color: black;
}


.intro_cta2:hover {
    background-color: black;
}


.intro_cta2:hover a {
    color: white;
}

/******************************
GALLERI
******************************/

#cloner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 15px;
    background-color: black;
    padding: 60px 15px 80px;
    margin: 0 auto;
}

#cloner img {
    max-width: 100%;
}

#cloner img:hover {
    filter: grayscale(1);
}


.high {
    grid-row: span 2;
}


.wide {
    grid-column: span 2;
}


#gallery_intro {
    max-width: 43ch;
    margin: 0 auto 0;
}


#gallery_intro p:nth-child(3) {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}


#gallery_intro p {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
    padding: 35px 0px 20px;

}


.fa-quote-right {
    float: right;
}


.gallery {
    max-width: 1200px;
    margin: 0 auto;
}


.gallery img {

    min-height: 200px;
    max-height: 500px;
    width: 100%;
}

.galleri .footer {
    margin-top: 5vh;
}


.top_bg {
    border-left: 50vw solid black;
    border-right: 50vw solid black;
    border-top: 30px solid #f4f4f4;

}

.bottom_bg {
    border-left: 50vw solid #f4f4f4;
    border-right: 50vw solid #f4f4f4;
    border-top: 38px solid black;
}


.sectionwrapper {
    max-width: none;
    margin: 0 auto;
}


/***************************
GALLERI SINGLEVIEW
***************************/

.gallery_article_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 15px;
    background-color: black;
}

.galleri_text_wrapper {
    background-color: black;
}

.galleri_text_wrapper button {
    top: -15px;
}

.galleri_beskrivelse {
    padding-top: 25px;
    margin-bottom: 50px;
}

.galleri_text_wrapper p {
    color: white;
}

/*****************************
SHOP
******************************/

#shop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 15px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5px 15px;
}


#shop img {
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.1);
}


#shop h2 {
    font-size: 1.25rem;
    text-align: left;
    padding: 0 0 0 2px;
    margin: 0;
}

#shop h3 {
    font-family: source-sans-pro, sans-serif;
    font-size: 1.25rem;
    text-align: left;
    padding: 0 0 0 2px;
    margin: 0 0 10px 0;
    font-weight: 100;
}


/***************************
SHOP FILTRERING
****************************/

.btnwrapper {
    display: flex;
    padding: 15px 7px;
    justify-content: space-evenly;
}


.shop button,
.btn_container button {
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    text-transform: uppercase;
    border: none;
    width: 110px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 500;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
    outline: none;
}


#shop article {
    /*    border: 1px solid #000;*/
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.filter {
    height: 30px;
    background-color: white;
    color: black;
}

.active {
    background-color: black;
    color: white;
}

/************************
SHOP SINGLEVIEW
************************/

#singleshop {
    margin: 0 auto;
    max-width: 1400px;
}

.article_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.shop_left,
.shop_right {
    margin: 0 15px;
    flex-grow: 1;
    flex-basis: 300px;
}

.right_container {
    display: flex;
    flex-direction: column;
}

.shop_left img {
    height: 500px;
    width: 345px;
}

.price_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shopitem h1 {
    padding: 15px 0 0;
    text-align: left;
}

.shopitem h2,
.shopitem .btn_container {
    flex-grow: 1;
    flex-basis: 50px;
}

.shopitem p {
    font-size: 1rem;
    padding: 0;
    margin: 25px auto;
    max-width: 100ch;
}

.shopitem .kvalitet {
    padding: 15px 0 0;
    color: grey;
    margin: 0;
}

.shopitem .format {
    padding: 0 0 15px;
    color: grey;
    margin: 0;
}

.shopitem .shop_img {
    margin: 0 15px;
    width: 345px;
}

.shopitem .btn_container {
    flex-grow: 2;
}

.btn_container .cart {
    margin-top: 4px;
    margin-left: 35px;
    height: 35px;
    width: 170px;
    background-color: black;
    color: white;
}

/*******************************
UDSTILLINGER & PROJEKTER
********************************/

.project_container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 60px;
    margin-bottom: -40px;
}

.line_top {
    position: relative;
    top: 0px;
    height: 70px;
    border-right: 2px solid grey;
    border-left: none;
    align-self: center;
}

.single_project:nth-of-type(even) .project_container .line_top {
    position: relative;
    height: 70px;
    top: 0px;
    align-self: center;
    border-right: none;
    border-left: 2px solid grey;
}

.single_project h2 {
    text-align: center;
    margin-top: 15px;
}


.single_project p {
    text-align: center;
    margin: 10px 15px;
    font-size: 1.1rem;
    padding: 0;
}


/**Projekt Singleview**/

.projekt {
    padding-top: 10vh;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    flex-direction: column;

    flex-wrap: wrap;

}


.projekt .wp_content img {

    max-width: 1400px;
    max-height: 600px;
    margin: auto;
}

.projekt p {
    font-size: 1.2rem;
}

.lined {
    display: none;
}

#udstilling_intro .intro_cta {
    top: 240px;
}

/**********************
PROJEKTER
**********************/

.projekter .project_container {
    margin-top: 30px;
    margin-bottom: -70px;
}

.project_container .intro_cta {
    position: relative;
    top: 30px;
}

.projekter .line_top {
    top: -60px;
}

.projekter .single_project:nth-of-type(even) .project_container .line_top {
    top: -60px;
}


.projekter .single_project:nth-of-type(even) .project_container .intro_cta {
    top: 30px;
}


/*******************
Footer
********************/

.footer {
    margin-top: 10vh;
}

.so_me {
    display: flex;
    justify-content: center;
}

.so_me img {
    height: 5vh;
    width: 5vh;
    margin: 15px 15px 5px;
}

.footer_items {
    display: flex;
    justify-content: center;

}

footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;

}

footer ul a {
    font-family: source-sans-pro, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 0px 10px;
}

footer li:nth-child(1) {
    border-right: 2px solid black;

}

footer li:nth-child(2) {
    border-right: 2px solid black;
}


/*******************************************
IPAD MEDIA
********************************************/

@media only screen and (min-width: 768px) {

    /*****************
    GENERELT
    *****************/

    header {
        padding-bottom: 130px;
    }

    /*****************
    MENU
    ******************/

    .nav_wrapper {
        height: 90px;
    }

    .mylinks {
        overflow: scroll;
        padding-left: 25px;
    }

    .mylinks a {
        text-align: left;
        justify-content: flex-end;
        font-size: 5rem;
    }


    .progress-container {
        top: 90px;
        width: 94%;
    }


    .logo {
        height: 70px;
        width: 70px;
        top: 40px;
        left: 50px;
    }


    .c_baskin {
        top: 40px;
        right: 85px;
    }


    .burger_menu {
        top: 40px;
        right: 30px;
    }

    /*************************
    BRØDKRUMMESTI
    *************************/

    ul.breadcrumb {
        margin-top: -20px;
        margin-left: 15px;
    }


    /**********************
    FOOTER
    **********************/

    .footer_items {
        justify-content: center;
    }

    .footer_items a {
        font-size: 15px;
    }

    footer ul a {
        padding: 0px 25px;
    }

    /*********************
    FORSIDE
    *********************/

    #intro {
        padding-bottom: 100px;
    }

    .black_bg img {
        display: block;
        width: 65%;
        height: 300px;
        margin: 0 auto;
    }

    .intro_cta {
        top: 860px;
    }

    /***************************
    BILLEDESERIE PÅ FORSIDE
    ***************************/

    .image {
        height: 416px;
    }

    .imgwrapper {
        padding-top: 40px;
    }

    #hero_img1 {
        margin: 40px 4px 4px 10px;
        background-image: url(billeder/forside_6.jpg);
        background-position: 52% 90%;
    }


    #hero_img2 {
        margin: 20px 4px 4px 4px;
        background-image: url(billeder/forside_1.jpg);
        background-position: 30% 90%;
    }


    #hero_img3 {
        margin: -20px 4px 4px 4px;
        background-image: url(billeder/forside_2.jpg);
        background-position: 52% 90%;
    }


    #hero_img4 {
        margin: -50px 4px 20px 4px;
        background-image: url(billeder/forside_3.jpg);
    }


    #hero_img5 {
        margin: -20px 4px 4px 4px;
        background-image: url(billeder/forside_4.jpg);
        background-position: 82% 90%;
    }


    #hero_img6 {
        display: block;
        margin: 20px 4px 4px 4px;
        background-image: url(billeder/forside_5.jpg);
        background-position: 52% 90%;
    }


    #hero_img7 {
        display: block;
        margin: 40px 10px 4px 4px;
        background-image: url(billeder/forside_7.jpg);
        background-position: 25% 90%;
    }


    .img_frame:nth-child(6) {
        display: block;
    }


    .img_frame:nth-child(7) {
        display: block;
    }


    /*********************
    GALLERI
    *********************/

    #gallery_intro {
        margin: 0 auto;
        max-width: 63ch;
    }

    #gallery_intro p:nth-child(3) {
        font-size: 1.3rem;
        margin-top: 0;
    }

    #cloner {
        padding: 50px 100px;
    }

    .top_bg {
        border-top: 50px solid #f4f4f4;
    }

    .bottom_bg {
        border-top: 50px solid;
    }

    /***************************
GALLERI SINGLEVIEW
***************************/

    .gallery_article_wrapper {
        margin: 10px 150px 0;
    }

    .galleri_beskrivelse {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    /****************************
    SHOP
    ****************************/

    #shop {
        padding: 5px 100px;
    }

    .shop_intro p {
        max-width: 80ch;
    }

    .btnwrapper {
        justify-content: flex-end;
        padding-right: 95px;
    }

    .shop button {
        margin: 30px 5px 0;
    }

    /*************************
    SHOP SINGLEVIEW
    *************************/

    .article_wrapper {
        flex-direction: row;
    }

    .shopitem h1 {
        padding: 0;
    }

    .right_container {
        flex-direction: column-reverse;
    }

    .price_container {
        margin-top: 50px;
    }

    .btn_container .cart {
        margin-right: 40px;
        margin-left: 17px;
    }

    /***************************
    UDSTILLINGER & PROJEKTER
    ***************************/
    /*

    #test {
        max-width: 1400px;
        margin: 0 auto;
    }
*/

    #udstilling_intro {
        margin: 0 auto;
        flex-direction: row;
        padding-bottom: 110px;
    }

    .project_container {
        height: 500px;
        width: 100vw;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
    }


    #udstilling .single_project {
        height: 270px;
    }


    .single_project:nth-of-type(even) .project_container {
        flex-direction: row-reverse;
    }


    .project_child1 {
        padding: 15px;
        flex-grow: 1;
        flex-basis: 50%;
    }


    .project_child2 {
        flex-grow: 1;
        flex-basis: 50%;
    }


    .line_top {
        top: -240px;
        left: 50%;
        height: 130px;
    }


    .framed {
        position: relative;
        top: 10px;
        left: 0;
    }


    .single_project img {
        width: 340px;
    }


    .project_container h2 {
        font-size: 1.5rem;
        position: relative;
        top: 70px;
        left: -166px;
    }


    .project_container p {
        text-align: left;
        position: relative;
        top: 65px;
        left: -18px;
        max-width: 40ch;
    }


    .lined {
        display: block;
        position: relative;
        top: 70px;
        left: -130px;
        width: 150px;
    }


    .single_project:nth-of-type(1) .project_container .line_top {
        height: 130px;
        top: -240px;
    }


    .single_project:nth-of-type(even) .project_container .line_top {
        top: -230px;
        left: -50%;
        border-right: none;
        height: 130px;
    }

    .single_project:nth-of-type(odd) .framed {
        position: relative;
        top: 10px;
    }

    .single_project:nth-of-type(odd) img {
        margin-left: 30px;
    }


    .single_project:nth-of-type(odd) .project_container h2 {
        font-size: 1.5rem;
        position: relative;
        top: 65px;
        left: 169px;
    }

    .single_project:nth-of-type(odd) .project_container p {
        text-align: left;
        position: relative;
        top: 60px;
        left: 40px;
        max-width: 40ch;
    }


    .single_project:nth-of-type(odd) .lined {
        display: block;
        position: relative;
        top: 75px;
        left: 135px;
    }


    .projekt p {
        font-size: 1.5rem;
    }

    .projekt h1 {
        padding-bottom: 5vh;
    }


    /**********************
    PROJEKTER
    **********************/

    #project_intro {
        margin: 0 auto;
        flex-direction: row;
        padding-bottom: 20px;
    }


    .projekter .single_project:nth-of-type(odd) .project_container h2 {
        left: 100px;
    }

    .projekter .single_project:nth-of-type(odd) .project_container p {
        top: 70px;
    }

    /*
.childwrapper {
    position: relative;
    top: 8vh;
    left: 25%;
    width: 70%;
}*/

    /*

    .childwrapper button {
        border: 2px solid black;
        background-color: black;
        color: white;
        position: relative;
        top: -20px;
        left: 15px;
    }

    .childwrapper span {
        margin-left: 15px;
    }


    #project_intro span {
        color: white;

        font-family: source-sans-pro, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.2rem;
    }
*/
}

/**********************
DESKTOP MEDIA
**********************/
@media only screen and (min-width: 1024px) {

    /*****************
    GENERELT
    *****************/

    p {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 5rem;
        padding: 0;
        margin: 0;
    }

    h2 {
        /*        font-size: 6rem;*/
    }


    /********************************
    MENU
    ********************************/

    .nav_wrapper {
        height: 80px;
    }

    .mylinks {
        margin-top: -70px;
    }

    .progress-container {
        top: 80px;
        width: 97.5%;
    }

    .logo {
        height: 70px;
        width: 70px;
        top: 40px;
        left: 50px;
    }

    .c_baskin {
        width: 35px;
        top: 35px;
        right: 110px;
    }

    .burger_menu {
        width: 45px;
        top: 35px;
        right: 35px;
    }


    /************************
    BRØDKRUMMESTI
    ************************/

    ul.breadcrumb {
        margin-top: -30px;
        padding: 0 0 60px 12px;
    }

    ul.breadcrumb li {
        font-size: 1rem;
    }

    /***********************
    FORSIDE
    ***********************/

    #intro {
        padding-bottom: 3px;
    }

    #intro h1 {
        margin: -70px 0 0px;
    }

    #intro p {
        margin-top: 0;
        padding-top: 10px;
    }

    .black_bg h2 {
        padding-top: 80px;
    }

    .black_bg img {
        height: 400px;
        width: 50%;
    }

    .intro_cta {
        top: 685px;
    }

    /*************************
    BILLEDESERIE PÅ FORSIDE
    *************************/

    .imgwrapper {
        padding-top: 35px;
    }

    .image {
        height: 300px;
    }

    #hero_img1 {
        margin: 40px -50px 4px 120px;
    }

    #hero_img2 {
        margin: -10px -20px 4px 100px;
    }

    #hero_img3 {
        margin: -40px 15px 4px 60px;
    }

    #hero_img4 {
        margin: -60px 50px 4px 30px;
    }

    #hero_img5 {
        margin: -40px 80px 4px -5px;
    }

    #hero_img6 {
        margin: -10px 100px 4px -30px;
    }

    #hero_img7 {
        margin: 40px 120px 4px -50px;
    }


    #hero_img1,
    #hero_img2,
    #hero_img3,
    #hero_img4,
    #hero_img5,
    #hero_img6,
    #hero_img7 {
        flex-grow: 1;
        flex-basis: 200px;
    }


    /**********************
    GALLERI
    **********************/

    #cloner {
        padding: 50px 300px;
        margin: 0 auto;
    }

    #gallery_intro {
        max-width: 85ch;
    }

    #gallery_intro p:nth-child(3) {
        font-size: 1.8rem;

    }

    #gallery_intro p {
        font-size: 1.2rem;
        padding-top: 30px;
    }

    #submit input {
        width: 25vw;
    }

    /***************************
GALLERI SINGLEVIEW
***************************/

    .gallery_article_wrapper {
        margin: -30px 450px 0;
    }

    /************************
    SHOP
    *************************/

    #shop {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        padding-top: 20px;
    }


    .article_wrapper {
        flex-direction: row;
        padding: 0 200px;
    }

    .shop_img {
        padding-left: 200px;
    }

    .shopitem .shop_img,
    .shop_left img {
        width: 400px;
    }

    .shopitem h2 {
        font-size: 3rem;
    }

    .shopitem p {
        font-size: 1.3rem;
    }


    .shop_left img {
        max-height: 90vh;
    }

    .btn_container .cart {
        width: 200px;
        height: 50px;
        text-align: center;
        background-color: black;
        color: white;
        font-size: 1.2rem;
    }

    /***************************
    UDSTILLINGER & PROJEKTER
    ***************************/

    #udstilling .single_project {
        height: 450px;
    }

    .line_top {
        top: -700px;
        left: 50%;
        height: 250px;
    }


    .framed {
        position: relative;
        top: 0px;
        left: 0;
    }


    .single_project img {
        width: 600px;
    }


    .project_container h2 {
        font-size: 2.5rem;
        position: relative;
        top: 120px;
        left: -320px;
    }


    .project_container p {
        text-align: left;
        position: relative;
        top: 120px;
        left: -15px;
        max-width: 40ch;
    }

    .lined {
        display: block;
        position: relative;
        top: 140px;
        left: -295px;
        width: 300px;
    }


    .single_project:nth-of-type(1) .project_container .line_top {
        height: 200px;
        top: -240px;
    }

    .single_project:nth-of-type(even) .project_container .line_top {
        top: 185px;
        left: -50%;
        border-right: none;
        height: 250px;
    }

    .single_project:nth-of-type(odd) .framed {
        position: relative;
        top: 10px;
    }

    .single_project:nth-of-type(odd) img {
        margin-left: 370px;
        width: 600px;
    }


    .single_project:nth-of-type(odd) .project_container h2 {
        position: relative;
        top: 100px;
        left: 456px;
        font-size: 2.5rem;
    }

    .single_project:nth-of-type(odd) .project_container p {
        text-align: left;
        position: relative;
        top: 100px;
        left: 375px;
        max-width: 40ch;
    }


    .single_project:nth-of-type(odd) .lined {
        display: block;
        position: relative;
        top: 150px;
        left: 430px;
    }

}
