#cloner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 20px;
    background-color: black;
    padding-top: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

#cloner img {
    max-width: 100%;
}



.high {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

#gallery_intro {
    /*    margin-bottom: 20vh 0 20vh 0;*/

}

#gallery_intro p {
    text-align: center;
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery img {

    min-height: 200px;
    max-height: 700px;
    width: 100%;
}


.top_bg {

    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 70px solid #f4f4f4;

}

.bottom_bg {

    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100px solid black;


}



.sectionwrapper {
    max-width: none;
    margin: 0 auto;
    background-color: black;
}
