* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #fff;
}


img {
    width: 100%;
    object-fit: cover;
}




/**scroll progress**/

.bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(28, 16, 16, 0);

}

.progress-container {
    width: 100%;
    height: 10vh;
    background: #ccc;

}





.progress-bar {
    position: relative;
    height: 10vh;
    background: #FEEF3D;
    /*    width: 0%;*/


}



/**scroll progress**/

#progress {
    margin-bottom: 20vh;
}

.img_frame {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 380px
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50px);
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.61);
    font-family: muli, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    z-index: 1;
}

#shop article:hover .overlay {
    animation-name: come_up_kf;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    cursor: pointer;
}


#shop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 0;

}

#shop article {
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
}
